@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography";
.button {
  width: 100%;
  height: 3rem;
  background-color: $color-pink;
  @include typo-paragraph2;
  color: $color-dark-blue;
  border: 0ch;
  border-radius: 0.625rem;
}

#grey {
  width: 100%;
  height: 3rem;
  background-color: $color-grey;
  @include typo-paragraph2;
  color: $color-dark-blue;
  border: 0ch;
  border-radius: 0.625rem;
}
