@use "../../styles/partials/variables" as *;
.form {
  &__titles {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    width: 50%;
    margin-bottom: 3rem;
    &--active {
      border-bottom: solid 1px black;
    }
  }
  &__fieldset {
    display: flex;
    flex-direction: column;
    margin: 1.75rem 2.1875rem;
    padding: 2.125rem 2.3125rem;
    background-color: $color-light-blue;
    border: none;
    border-radius: 1.25rem;
  }
  &__radio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }
  &__radiolabel {
    text-align: center;
    vertical-align: middle;
  }
  &__dropdown {
    display: flex;
    justify-content: space-between;
    height: 48px;
  }
}
input {
  height: 3rem;
  border-radius: 0.625rem;
  border: none;
}
select {
  width: 47%;
  height: 3rem;
  border: 0;
  border-radius: 0.625rem;
}
