/** Color Variables **/

$color-black: #000000;
$color-white: #ffffff;
$color-light-blue: #f2f5ff;
$color-grey: #dee1ea;
$color-dark-blue: #2c507b;
$color-blue: #aad0f6;
$color-pink: #ffaf99;

/** Padding Variables **/
$pad-margin: 1rem;
$pad-between-desk: 1.25rem;
