/** Color Variables **/

$primary-dark: #323232;
$primary-light: #ffffff;

$secondary-dark: #000000;
$secondary-light: #fffaaa;

$error-state: #d22d2d;

/** Padding Variables **/
$pad-margin: 1rem;
$pad-between-desk: 1.25rem;
