@use "./styles/partials/breakpoints" as *;
@use "./styles/partials/mixin" as *;
@use "./styles/partials/variables" as *;
@use "./styles/partials/typography";

*,
*::before,
*::after {
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: $color-black;
  font-family: "VarelaRound";
}
